# Python things
*.py[co]
*.egg*

# Node things
node_modules

# SQLite3 things
*.db

# Logs
*.log

# OSX Things
.DS_Store
._*

# CSS things
riogrande/static/css/*.css*

# Django things
riogrande/riogrande/media/
riogrande/assets/
