# Python things
*.py[co]
*.egg*

# Node things
node_modules

# SQLite3 things
*.db

# Logs
*.log

# OSX Things
.DS_Store
._*

# CSS things
riogrande/static/css/*.css*

# SASS things
.sass-cache/

# Django things
riogrande/media/
riogrande/assets/

# PostgreSQL DB things
*.dump
