{% extends "base.html" %}

{% block content %}

<div class="content-block">
  <div class="content-prose">

    <p class="subhead">About "Disappearing Rio Grande"</p>

    <p>For more than 3,000 years the Rio Grande has been the lifeblood of the valleys and civilizations it flowed through. It recharged fields and forests and provided safe passage through an inhospitable desert. Now, cities and farms are sucking it dry and a warming climate is making it evaporate faster.  What is left is hidden behind a border fence and fought over by the states and countries that agreed to share it.</p>

    <p>The river’s future has never been more uncertain.</p>

    <p>To understand the effects and evaluate possible solutions, reporter Colin McDonald and photojournalist Erich Schlegel are traveling the length of the Rio Grande. Along the way, they will interview and spend time with those who depend on and control the river, take photos and videos and catalog the chemistry and biology of the river from the Rocky Mountains to the Gulf of Mexico.</p>

    <p>Their work will be uploaded from the banks of the river via satellite and shared here as they spend seven months on this 1,900-mile journey.</p>

    <p class="subhead">Colin McDonald – Reporter</p>

    <p>Colin McDonald was born in Port Townsend, Washington. He graduated from Western Washington University in Bellingham, Wash., with a degree in environmental journalism and has worked as a newspaper reporter covering environmental issues for the last 10 years. He has paddled the length of the Texas Coast, biked across the United States and hiked across the Big Bend of the Rio Grande to better understand those environments. He has led investigations into corrupt water utilities, violations of the Clean Water Act and bogus research on the impact of wind farms. In 2013, he was awarded a Ted Scripps Fellowship at the University of Colorado at Boulder to prepare for this expedition.</p>

    <p class="subhead">Erich Schlegel – Photojournalist</p>

    <p>Erich Schlegel was born in Monterrey, Mexico, and lived throughout Latin America before moving to Texas in 1973. A business graduate of Southern Methodist University in Dallas, Erich has covered conflicts in Afghanistan, Bosnia, Albania, Zaire and Sri Lanka, along with 10 Olympic games and four Super Bowls. He favors assignments in Latin America, having worked in Cuba, Mexico and across Central America. Erich has won awards from World Press Photo, Pictures of the Year, the Society of Newspaper Design, the Associated Press Managing Editors and others.</p>

    <p class="subhead">Jessi Loerch – Editor</p>

    <p>Jessi Loerch is a journalist in Everett, Washington and will edit the blog posts Colin and Erich send in from the river. She has edited Colin's work, on and off, for more than a decade, since their time together in the Environmental Journalism program at Western Washington University. She is, depending upon the day, a copy editor, web producer or reporter. She has a special interest in environmental issues and outdoor recreation. She'll take any excuse to get out of the office.</p>

    <p class="subhead">Donors</p>

    <p class="donor-list">
      <span class="donor">Alex Pelham-Webb</span>
      <span class="donor">Allison Stocker</span>
      <span class="donor">Alston & Holly Beinhorn</span>
      <span class="donor">Andrew Weissman</span>
      <span class="donor">Andy Aley</span>
      <span class="donor">Angela</span>
      <span class="donor">Ann Pannet Brown</span>
      <span class="donor">Annalisa Peace</span>
      <span class="donor">Anne M. Thomas</span>
      <span class="donor">Anne Shields</span>
      <span class="donor">Annie Johnson</span>
      <span class="donor">Anonymous</span>
      <span class="donor">Barbara Hosler</span>
      <span class="donor">Bear & Rux</span>
      <span class="donor">Becky and Paul</span>
      <span class="donor">Bekah Stolhandske McNeel</span>
      <span class="donor">Benjamin Weaver</span>
      <span class="donor">Bethany McDonald</span>
      <span class="donor">Bill Harris</span>
      <span class="donor">Bill Lende</span>
      <span class="donor">Bill Neiman</span>
      <span class="donor">Blackburn & Carter</span>
      <span class="donor">Bobby Koenigsberg</span>
      <span class="donor">Brian Cahsnoff</span>
      <span class="donor">Brian Calvert</span>
      <span class="donor">Brian Comeaux and Rebecca Bruce</span>
      <span class="donor">Bridgett Piernik</span>
      <span class="donor">Carson, Cody, and Kaleb</span>
      <span class="donor">Chris Stolte</span>
      <span class="donor">Clark Van Derwood</span>
      <span class="donor">Colin McDonald</span>
      <span class="donor">Craig Kapitan</span>
      <span class="donor">Crystal</span>
      <span class="donor">Daniel Scott</span>
      <span class="donor">Dave A. Luce</span>
      <span class="donor">Debbie McDonald</span>
      <span class="donor">Drew Cauthorn</span>
      <span class="donor">Eileen Loerch</span>
      <span class="donor">Eric Brink</span>
      <span class="donor">Eric Nalder</span>
      <span class="donor">Erin Parker</span>
      <span class="donor">Eva Ruth</span>
      <span class="donor">Gene Dawson Jr</span>
      <span class="donor">George L. Fouke Ph.D.</span>
      <span class="donor">Glenda C Wolin</span>
      <span class="donor">Grandma Fran Harned</span>
      <span class="donor">Hayes Family</span>
      <span class="donor">Heather Po</span>
      <span class="donor">Hugh A. Fitzsimons III</span>
      <span class="donor">Jake Batsell</span>
      <span class="donor">James Cannizzo</span>
      <span class="donor">James Gerber</span>
      <span class="donor">Jason Alcorn</span>
      <span class="donor">Jean Boyle</span>
      <span class="donor">Jenna Tomlin</span>
      <span class="donor">Jennifer Whitney</span>
      <span class="donor">Jerry Ohlman</span>
      <span class="donor">JoAnn and Terry Tomlin</span>
      <span class="donor">Joe Ranzau</span>
      <span class="donor">John Brainard</span>
      <span class="donor">John Brownlee</span>
      <span class="donor">John Kennedy</span>
      <span class="donor">Karen Cook</span>
      <span class="donor">Kate Blystone</span>
      <span class="donor">Kathy Altaras</span>
      <span class="donor">Kelly Lyons</span>
      <span class="donor">Kevin Cullen</span>
      <span class="donor">Kevin Glasheen</span>
      <span class="donor">Linda T</span>
      <span class="donor">Lizzie Chen</span>
      <span class="donor">Lolly Scheckter</span>
      <span class="donor">Lori Raborn Gibson</span>
      <span class="donor">Lorne Chan</span>
      <span class="donor">Lynne Dobson</span>
      <span class="donor">Marc Toppel</span>
      <span class="donor">Marcy Welk</span>
      <span class="donor">Marianne Campbell</span>
      <span class="donor">Mark Aiken</span>
      <span class="donor">Mary O'Brien</span>
      <span class="donor">Mary Pigott</span>
      <span class="donor">Matt Morris</span>
      <span class="donor">Maude S. Rea</span>
      <span class="donor">Mei-Chun Jau</span>
      <span class="donor">Michael Burke/San Antonio Clean Technology Forum</span>
      <span class="donor">Michael Kodas</span>
      <span class="donor">Michael Waggoner</span>
      <span class="donor">Michelle Mondo</span>
      <span class="donor">Myron Hess</span>
      <span class="donor">Nadia</span>
      <span class="donor">Naomi Rachel</span>
      <span class="donor">Natalie</span>
      <span class="donor">Nausheen Mohamedali Kasmani</span>
      <span class="donor">Oscar Cedano</span>
      <span class="donor">Osprey Packs</span>
      <span class="donor">Pam Reed</span>
      <span class="donor">Pau Ongay</span>
      <span class="donor">Peter Tutelaers</span>
      <span class="donor">Richard Pearson</span>
      <span class="donor">Robert Koenigsberg</span>
      <span class="donor">Robert Metcalf</span>
      <span class="donor">Ross McDonald</span>
      <span class="donor">Ryan Bressler</span>
      <span class="donor">Sally Lloyd</span>
      <span class="donor">Sara Reilly</span>
      <span class="donor">Sarah Judkins</span>
      <span class="donor">Sarah Lemmon</span>
      <span class="donor">Satelite Phone Store</span>
      <span class="donor">Scott Ericksen</span>
      <span class="donor">Scott Martin</span>
      <span class="donor">Sean Wake</span>
      <span class="donor">Sharon Sander</span>
      <span class="donor">smcpc</span>
      <span class="donor">Spencer Selvidge</span>
      <span class="donor">Steve Bivans</span>
      <span class="donor">Susan Standley</span>
      <span class="donor">Susann Sullivan</span>
      <span class="donor">Teizeen Mohamedali</span>
      <span class="donor">Teresa McDonald</span>
      <span class="donor">The Arsenal Group</span>
      <span class="donor">The Nature Conservancy</span>
      <span class="donor">Tom Yulsman</span>
      <span class="donor">Tracy Idell Hamilton</span>
      <span class="donor">Virginia Leonard</span>
      <span class="donor">Weir Labatt and Robert Gulley</span>
</p>
  </div>
</div>

{% endblock %}
