{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="content-block">
  <div class="content-normal-header">
    <header>
      <h2>The Expedition</h2>
    </header>
  </div>
</div>
<div class="map-list-wrap">
  <div class="map" id="archive-map"></div>
  <div class="content-block">
    <div class="archive-list">
    {% for day in object_list %}
      <div class="archive-row" id="{{ day.date.isoformat }}">
        <hr>
        <div class="archive-row-date"><a href="{% url 'day' day.date.year day.date.month day.date.day %}">{{ day.date|date }}</a></div>
        {% if day.story_for and day.story_for.pub_status == 'P' %}
          <div class="archive-row-story-title"><span class="title">Story</span>: <a href="{{ day.story_for.get_absolute_url }}">{{ day.story_for.headline }}</a></div>
        {% endif %}
        {% if day.post_for and day.post_for.pub_status == 'P' %}
          <div class="archive-row-post-title"><span class="title">Post</span>: <a href="{% url 'day' day.date.year day.date.month day.date.day %}">{{ day.post_for.headline }}</a></div>
        {% endif %}
          <div class="archive-row-content-cells">
            <div class="content-cell">
              <div class="content-cell-header">Post</div>
              <div class="content-cell-icon">
                {% if day.post_for and day.post_for.pub_status == 'P' %}
                  <img src="{% static 'images/check.png' %}">
                {% else %}
                  <img src="{% static 'images/x.png' %}">
                {% endif %}
              </div>
            </div>
            <div class="content-cell">
              <div class="content-cell-header">Photo Gallery</div>
              <div class="content-cell-icon">
                {% if day.gallery_for and day.gallery_for.pub_status == 'P' %}
                  <img src="{% static 'images/check.png' %}">
                {% else %}
                  <img src="{% static 'images/x.png' %}">
                {% endif %}
              </div>
            </div>
            <div class="content-cell">
              <div class="content-cell-header">Measurements</div>
              <div class="content-cell-icon">
                {% if day.measurement_for and day.measurement_for.pub_status == 'P' %}
                  <img src="{% static 'images/check.png' %}">
                {% else %}
                  <img src="{% static 'images/x.png' %}">
                {% endif %}
              </div>
            </div>
            <div class="content-cell">
              <div class="content-cell-header">Pings</div>
              <div class="content-cell-icon">
                {% if day.pings.all %}
                  <img src="{% static 'images/check.png' %}">
                {% else %}
                  <img src="{% static 'images/x.png' %}">
                {% endif %}
              </div>
            </div>
          </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>

{% endblock %}

{% block extra_script %}

<script class="text/template" id="popup-template">
<%= date %>
<br>
<a href="<%= slug %>"><%= headline %></a>
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script>

var archivePostList = {{ archive_post_list|safe }};
var archivePingList = {{ archive_ping_list|safe }};

var map = L.mapbox.map('archive-map', 'texastribune.ili2i87h', {
  attributionControl: false,
  tileLayer: {
    detectRetina: true
  }
});

map.scrollWheelZoom.disable();

var postsIcon = L.icon({
  iconUrl: '{% static 'images/postslight-30.png' %}',
  iconRetinaUrl: '{% static 'images/postslight-60.png' %}',
  iconSize: [30, 30],
  iconAnchor: [16, 26]
});

var pingStyles = {
  radius: 6,
  fillColor: "#fff",
  color: "#008990",
  weight: 1,
  opacity: 1,
  fillOpacity: .9
};

var popupTemplate = _.template($('#popup-template').html());

var allPosts = _.map(archivePostList, function(post) {
  return L.marker([post.lat, post.lng], {
    icon: postsIcon
  }).bindPopup(popupTemplate(post));
});

var postMarkers = L.featureGroup(allPosts);

postMarkers.on('click', function(e) {
  e.layer.openPopup();
});

var allPings = _.map(archivePingList, function(ping) {
  return L.circleMarker([ping.lat, ping.lng], pingStyles);
});

var pingMarkers = L.featureGroup(allPings);

var overlayMaps = {
  "Show all posts": postMarkers,
  "Show all check-ins": pingMarkers
};

L.control.layers(null, overlayMaps).addTo(map);

map.addLayer(postMarkers);
map.fitBounds(postMarkers.getBounds(), {
  padding: [20, 20]
});

</script>

{% endblock %}
