<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Rio Grande Project | The Texas Tribune</title>
  {% load staticfiles %}
  <script src="//use.typekit.net/nvt2cmo.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <script>
    {% block data_script %}{% endblock %}
  </script>
</head>
<body>
<header class="header">
<div class="app-container">
<div class="logo">
<a href="http://www.texastribune.org/"><img src="//s3.amazonaws.com/static.texastribune.org/common/tt_disposal_wells/images/txtrib-logo-white.svg"></a>
</div>

</div>
</header>

<section class="app-container">

<section class="content-container">

<header class="app-header">
  <h1><a href="{% url 'landing' %}">Rio Grande Project</a></h1>
</header>

<hr>

{% block content %}{% endblock %}

</section>
</section>

<footer class="footer">
<div class="app-container">
<div>
  <a href="https://twitter.com/newsapps"><img class="logo" src="//s3.amazonaws.com/apps.texastribune.org/branding/TxTrib-NewsApps.svg"></a>
</div>
<div>
<ul>
  <li>SECTIONS</li>
  <li><a href="/economy/" data-section="economy">Economy</a></li>
  <li><a href="/education/" data-section="education">Education</a></li>
  <li><a href="/energy-and-environment/" data-section="energy-and-environment">Energy &amp; Environment</a></li>
  <li><a href="/government/" data-section="government">Government</a></li>
  <li><a href="/health-and-human-services/" data-section="health-and-human-services">Health &amp; Human Services</a></li>
  <li><a href="/law-and-order/" data-section="law-and-order">Law &amp; Order</a></li>
  <li><a href="/people/" data-section="people">People</a></li>
  <li><a href="/politics/" data-section="politics">Politics</a></li>
  <li><a href="/race-and-immigration/" data-section="race-and-immigration">Race &amp; Immigration</a></li>
  <li><a href="/transportation/" data-section="transportation">Transportation</a></li>
</ul>
</div>
<div>
  <ul>
    <li>© 2014 The Texas Tribune</li>
    <li><a href="#TODO">About Us</a></li>
    <li><a href="#TODO">Who Funds Us?</a></li>
    <li><a href="#TODO">Terms of Service</a></li>
    <li><a href="#TODO">Code of Ethics</a></li>
    <li><a href="#TODO">Privacy Policy</a></li>
    <li><a href="#TODO">Corrections</a></li>
    <li><a href="#TODO">Advertise</a></li>
    <li><a href="#TODO">Newsletter Signup</a></li>
    <li><a href="#TODO">Donate</a></li>
</ul>
</div>
</div>
</footer>

</body>
</html>
