{% extends "base.html" %}

{% block opengraph %}
{% if day.post_for %}
<meta property="og:description" content="{{ day.post_for.text|striptags|truncatewords:100 }}">
{% else %}
<meta property="og:description" content="{{ day.date|date }} Blog Updates">
{% endif %}
{% if day.post_for %}
<meta property="og:title" content="{{ day.post_for.headline }} - {{ day.date|date }}">
{% else %}
<meta property="og:title" content="Disappearing Rio Grande - {{ day.date|date }}">
{% endif %}
<meta property="og:url" content="{{ day.get_share_url }}">
{% if day.post_for %}
<meta property="og:image" content="{{ day.post_for.lede_art.image.url }}">
{% elif day.gallery_for %}
<meta property="og:image" content="{{ day.gallery_for.photos.all.0.image.url }}">
{% endif %}
{% endblock %}

{% block content %}

<div class="progress-tabs content-block row">
  {% if previous_day %}
  <a class="progress-tab progress-previous" href="{{ previous_day.get_absolute_url }}"><i class="fa fa-arrow-left"></i> Previous Day</a>
  {% else %}
  <div class="progress-tab progress-previous disabled"><i class="fa fa-arrow-left"></i> Previous Day</div>
  {% endif %}
  {% if next_day %}
  <a class="progress-tab progress-next" href="{{ next_day.get_absolute_url }}">Next Day <i class="fa fa-arrow-right"></i></a>
  {% else %}
  <div class="progress-tab progress-next disabled">Next Day <i class="fa fa-arrow-right"></i></div>
  {% endif %}
</div>

{% include 'includes/day.html' with day=day %}

<div class="progress-tabs content-block row">
  {% if previous_day %}
  <a class="progress-tab progress-previous" href="{{ previous_day.get_absolute_url }}"><i class="fa fa-arrow-left"></i> Previous Day</a>
  {% else %}
  <div class="progress-tab progress-previous disabled"><i class="fa fa-arrow-left"></i> Previous Day</div>
  {% endif %}
  {% if next_day %}
  <a class="progress-tab progress-next" href="{{ next_day.get_absolute_url }}">Next Day <i class="fa fa-arrow-right"></i></a>
  {% else %}
  <div class="progress-tab progress-next disabled">Next Day <i class="fa fa-arrow-right"></i></div>
  {% endif %}
</div>

{% endblock %}
