{% extends "base.html" %}

{% block opengraph %}
  <meta property="og:description" content="{{ object.summary|striptags|truncatewords:100 }}">
  <meta property="og:title" content="{{ object.headline }}">
  <meta property="og:url" content="{{ object.get_share_url }}">
  <meta property="og:image" content="{{ object.lede_art.image.url }}">
{% endblock %}

{% block content %}

<div class="content-block">
  <div class="content-header">
    <header>
      <h3>{{ object.headline }}</h3>
      <p>by <a href="mailto:{{ object.author_email }}">{{ object.author }}</a> | {{ object.pub_date.date|date }}</p>
    </header>
  </div>
</div>
<div class="content-block">
  <div class="content-photo">
    <img src="{{ object.lede_art.image.url }}">
    {% if object.lede_art.caption %}
    <div class="content-photo-caption">
      <span>{{ object.lede_art.caption|safe }}</span>
      {% if object.lede_art.credit %}
        <span class="content-photo-credit">Photo by: {{ object.lede_art.credit }}</span>
      {% endif %}
    </div>
    {% endif %}
  </div>
  {% include 'includes/share.html' with object=object %}
  <div class="content-prose">
    {{ object.text|safe }}
  </div>
</div>

{% endblock %}
