body {
  color: $offblack;
  line-height: 1;
  text-rendering: optimizelegibility;
}

a {
  color: $linkColor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.jumper {
  color: $offblack;

  .pinger {
    color: $captionGray;
    display: none;
  }

  &:hover {
    .pinger {
      display: inline;
    }
  }
}

ul {
  list-style: none;
  padding: 0;
}

hr {
  background-color: $accentColor;
  border: 0px none;
  height: 1px;
  margin-bottom: 2em;
}

hr.yellow {
  border: 0px none;
  height: 1px;
  background-color: rgb(255, 194, 0);
  margin-bottom: 1em;
}

.map {
  height: 250px;
  margin: 0 0 1em;
  width: 100%;
}

.day-container {
  margin-bottom: 4em;
}

.map-disclaimer {
  font-family: $helvetica;

  p {
    font-size: .875em;
    line-height: 1.4em;
  }
}

.content-measurements {
  font-family: $textFont;
  font-size: .875em;
  width: 60%;
  margin: 0 auto;

  .measurement {
    margin-bottom: 1.5em;
    text-align: center;

    .measurement-amount {
      font-family: 'league-gothic', $helvetica;
      font-size: 2.5em;
      margin-bottom: .125em;
    }

    .measurement-name {
      font-family: $helvetica;
      font-weight: 400;
      font-size: 1em;
    }

    dt, dd {
      margin: 0;
      padding: 0;
    }

    dt {
      font-weight: 600;
      margin-bottom: .25em;
    }
  }
}

.glossary-hidden {
  @include visually-hidden;
}

.content-block {
  margin: 0 auto .5em;
  width: 80%;

  .content-glossary {
    background-color: rgb(245, 245, 245);
    font-family: $helvetica;
    margin: 0 0 2em;
    padding: .625em;

    @include media($desktop) {
      margin: 0 auto 2em;
      width: 100%;
    }

    .glossary-header {
      color: rgb(34, 34, 34);
      font-size: .375em;

      header {
        h1 {
          margin: 0;
          padding: 0;
        }
      }

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .glossary-about {
      p {
        font-size: .875em;
        line-height: 1.4em;
      }
    }

    .glossary-terms {
      font-size: .85em;
      line-height: 1.4em;
      dl {
        dt,
        dd {
          margin: 0;
          padding: 0;
        }

        dt {
          font-weight: 600;
          margin-bottom: .25em;
        }

        dd {
          font-weight: 300;
          margin-bottom: 1em;
        }
      }
    }
  }

  .share-row {
    border-top: 1px solid rgb(204, 204, 204);
    margin-bottom: .75em;
    @include row();

    @include media($desktop) {
      border-bottom: 1px solid rgb(204, 204, 204);
    }

    div {
      border-bottom: 1px solid rgb(204, 204, 204);
      color: rgb(204, 204, 204);
      font-family: $helvetica;
      font-size: .8em;
      padding: .5em 0;
      text-align: center;

      @include media($desktop) {
        border-bottom: none;
        border-right: 1px solid rgb(204, 204, 204);
        padding: .25em 0;

        @include span-columns(4 of 12);
      }

      &:last-child {
        border-right: none;
      }

      &:hover {
        color: rgb(17, 17, 17);
      }

      a {
        color: rgb(119, 119, 119);

        &:hover {
          color: rgb(17, 17, 17);
        }
      }
    }
  }

  .content-contributors {
    @include media($desktop) {
      margin: 0 auto;
      width: 60%;
    }

    .contributor {
      margin: 0 0 1em 0;

      .contributor-name {
        font-family: $georgia;
        font-weight: 800;
        margin: 0 0 .25em 0;
      }

      .contributor-credit {
        font-family: $helvetica;
        font-size: 0.875em;
      }
    }
  }

  .story-header-tease {
    font-size: .875em;
    font-weight: 800;
    margin: 0 0 .375em 0;
    text-transform: uppercase;
  }

  .story-image-tease {
    img {
      width: 100%;
    }
  }

  .story-pub-tease {
    header {
      h2 {
        font-family: $georgia;
        font-size: 1.3em;
        font-weight: 400;
        margin: 0.5em 0 0 0;

        @include media($desktop) {
          margin: 0;
        }

        a {
          color: inherit;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      p {
        font-size: .75em;
        margin: 1em 0 0 0;

        a {
          font-weight: 800;
        }
      }
    }
  }

  .story-summary-tease {
    font-family: $georgia;
    font-size: 1em;
    line-height: 1.4;

    @include media($desktop) {
      font-size: .875em;
    }

    p {
      @include media($desktop) {
        margin: 0;
      }
    }
  }

  .story-summary-read-more {
    font-family: $helvetica;
    font-size: .875em;
    font-weight: 800;
    text-transform: uppercase;
  }

  .content-normal-header {
    margin: 0 0 1em 0;

    @include media($desktop) {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }

    header {
      font-family: $helvetica;
      color: $offoffblack;

      h2 {
        font-size: 1.5em;
        margin: 0 0 0.25em 0;

        @include media($desktop) {
          font-size: 2em;
        }
      }
    }
  }

  .content-day-header {
    @include media($desktop) {
      margin: 0 auto;
      width: 100%;
    }

    header {
      font-family: $helvetica;
      color: $offoffblack;

      h2 {
        font-size: 1.5em;
        margin: 0;

        @include media($desktop) {
          font-size: 2em;
        }
      }
    }
  }

  .content-sub-header {
    @include media($desktop) {
      width: 60%;
    }
  }
}

.content-photo {
  margin-bottom: .5em;

  @include media($desktop) {
    margin: 0 auto 1em;
    width: 100%;
  }

  img {
    width: 100%;
  }

  .content-photo-caption {
    color: $captionGray;
    font-family: $sansTextFont;
    font-size: .75em;
    font-weight: 400;
    line-height: 1.4;
    margin-right: .3125em;
  }
}

.content-header {
  margin: 0 auto;
  width: 80%;

  @include media($desktop) {
    width: 60%;
  }

  header {
    font-family: $georgia;
    font-size: 1em;

    h3 {
      font-size: 1.3125em;
      font-weight: 400;
      margin: 0;
      padding: 0;
    }

    h4 {
      font-family: $helvetica;
      font-size: 1em;
      font-weight: 800;
      margin: 0 0 .75em 0;
      padding: 0;
      text-transform: uppercase;
    }

    p {
      color: $captionGray;
      font-family: $helvetica;
      font-size: .875em;
      margin-top: .5em;

      a {
        font-weight: 800;
      }
    }
  }
}

.content-header-post {
  width: 100%;
}

.content-gallery-photo {
  margin: 0 auto 1em auto;
  width: 80%;

  @include media($desktop) {
    width: 60%;
  }

  img {
    width: 100%;
  }

  .content-photo-caption {
    color: $captionGray;
    font-family: $sansTextFont;
    font-size: .75em;
    font-weight: 400;
    line-height: 1.4;
    margin-right: .3125em;
  }
}

.content-prose {
  margin: 0 auto 2em;
  width: 80%;

  @include media($desktop) {
    width: 60%;
  }

  p {
    font-family: $textFont;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.45;
  }

  blockquote {
    border-top: 1px solid rgb(255, 194, 0);
    border-bottom: 1px solid rgb(255, 194, 0);
    padding: 1em 0;
    margin: 0;

    p {
      font-size: 1.2em;
      font-style: italic;
      font-weight: 800;
      margin: 0;
      padding: 0;

      @include media($desktop) {
        font-size: 1.5em;
      }
    }
  }

  .subhead {
    font-family: $helvetica;
    font-weight: 800;
    text-transform: uppercase;
  }

  .donor-list {
    color: rgb(136, 136, 136);
    font-family: $helvetica;
    font-size: .875em;
    font-weight: 400;
    letter-spacing: .03em;

    .donor {
      border-right: 1px solid rgb(136, 136, 136);
      margin: 0;
      padding: 0 .25em 0 0;

      &:last-child {
        border-right: none;
      }
    }
  }
}

.content-block-100 {
  width: 80%;

  @include media($desktop) {
    width: 100%;
  }
}

.content-block-80 {
  width: 80%;
}

.header {
  height: 2.75em;
  line-height: 2.75em;
  background-color: rgb(17, 17, 17);
  text-align: center;

  img {
    height: 1.375em;
    vertical-align: middle;
  }

  .header-image-container {
    img {
      height: auto;
      width: 100%;
    }
  }
}

.app-header {
  color: $offwhite;
  font-family: $boldHeaderFont;
  margin: 0 auto 1em;
  height: 225px;
  position: relative;
  background-image: url('/static/images/rio-header-large.jpg');
  background-size: cover;
  background-position: 0% 70%;

  .head {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;

    @include media($desktop) {
      bottom: 18%;
    }

    h1 {
      font-family: $georgia;
      font-size: 2em;
      font-weight: 900;
      line-height: 1.2;
      margin: 0;
      text-shadow: rgb(0, 0, 0) 3px 3px 0;

      @include media($desktop) {
        font-size: 3.5em;
        margin: 0 0 .5em;
      }
    }

    a {
      color: $offwhite;
    }

    ul {
      font-family: $helvetica;
      font-size: .75em;
      font-weight: 700;
      text-transform: uppercase;

      li {
        background-color: rgba(10, 10, 10, .4);
        border: 1px solid rgb(255, 255, 255);
        display: inline-block;
        letter-spacing: .0625em;
        margin: 0 0 .3125em;
        padding: .875em 0;
        width: 80%;

        &:hover {
          background-color: $linkColor;
          border: 1px solid $linkColor;
        }

        @include media($desktop) {
          margin: 0 .5em;
          padding: 1em 0;
          width: 320px;
        }
      }
    }
  }
}

.tribune-footer {
  background-color: rgb(17, 17, 17);
  color: $offwhite;
  margin: 2em 0 0;
  padding: .125em 0 0;
  text-align: center;

  @include media($desktop) {
    padding: 0;
    text-align: none;
  }

  nav {
    font-size: .875em;

    @include media($desktop) {
      float: left;
      font-size: .75em;
      margin: 0 0 1em 0;
    }
  }

  .first-nav {
    color: rgb(170, 170, 170);

    @include media($desktop) {
      float: left;
    }

    a {
      color: rgb(170, 170, 170);
    }

    li {
      padding: 0;
    }
  }

  .last-nav {
    @include media($desktop) {
      float: right;
    }

    a {
      color: $offwhite;
    }

    .donor-item {
      padding-right: 0;

      a {
        color: $linkColor;
        font-weight: 800;
      }
    }
  }

  li {
    margin: .75em 0;

    @include media($desktop) {
      border-left: 1px solid $offwhite;
      display: inline;
      float: left;
      margin: 0;
      padding: 0 .5em;

      &:first-child {
        border: 0;
        padding-left: 0;
      }
    }
  }
}


.archive-header {
  margin: 0 0 1em 0;
}

.archive-list {
  @include media($desktop) {
    margin: 0 auto;
    width: 80%;
  }

  img {
    width: 1.25em;
  }
  .archive-row {
    margin: 0 0 1em 0;

    .title {
      font-weight: 800;
    }

    .archive-row-date {
      font-size: 1.5em;
      margin: 0 0 0.5em 0;

      a {
        font-weight: 800;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .archive-row-story-title {
      margin: 0 0 .25em 0;
    }

    .archive-row-post-title {
      margin: 0 0 .25em 0;
    }

    .archive-row-content-cells {
      margin: 1em 0 0 0;
      @include row();

      .content-cell {
        margin: 0 0 .5em 0;
        text-align: center;
        @include span-columns(6 of 12);
        @include omega(2n);

        @include media($desktop) {
          margin: 0;
          @include omega-reset(2n);
          @include span-columns(3 of 12);
          @include omega(4n);
        }

        .content-cell-header {
          font-size: .875em;
          font-weight: 400;
          margin: 0 0 .25em 0;
        }
      }
    }
  }
}

table {
  font-family: $helvetica;
  margin: 0 0 1em;
  width: 100%;

  th {
    border-bottom: 1px solid rgb(187, 187, 187);
    font-size: 1em;
    font-weight: 800;
    padding: 0 1em .25em;
    text-align: right;
    vertical-align: middle;

    &:first-child {
      text-align: left;
    }
  }

  td {
    font-size: .875em;
    padding: 8px 16px;
    text-align: right;

    &:first-child {
      text-align: left;
    }
  }

  tr {
    &:nth-child(odd) td {
      background-color: rgb(240, 240, 240);
    }
  }

  @include media($mobile) {
    font-size: .875em;
    display: block;

    thead,
    tbody,
    tr,
    th,
    td {
      display: block;
    }

    tbody {
      border-top: 1px solid rgb(220, 220, 220);
    }

    thead {
      tr {
        @include visually-hidden;
      }
    }

    td {
      border-bottom: 1px solid rgb(220, 220, 220);
      padding-left: 50%;
      position: relative;
      text-align: right;

      &:first-child {
        text-align: right;
      }

      &:before {
        content: attr(data-title);
        font-weight: bold;
        left: .5em;
        padding-right: 10px;
        position: absolute;
        text-align: left;
        white-space: nowrap;
        width: 45%;
      }
    }
  }
}
